extends layout

block content
    h1= title
    p Welcome to #{title}
    #console(style="text-align:center;height:100px;width:100%;center;border:1px solid red")

    #container1(style="border:1 px solid black;" class="clearfix")
        #test(onclick="scannning(true)",style="width:150px;float:left;text-align:center;padding:20px;background-color:green").
            Start Scanning
        #test1_1(onclick="scannning(false)",style="margin:0 10px;width:150px;float:left;text-align:center;padding:20px;background-color:red").
            Stop Scanning
        #test1_2(onclick="devices(false)",style="width:150px;float:left;text-align:center;padding:20px;background-color:red").
            Devices Connect
        #test1_3(onclick="deviceConnect()",style="margin:0 10px;width:150px;float:left;text-align:center;padding:20px;background-color:red").
            Selected Device Connect
        #test1_4(onclick="discoverServices()",style="margin:0 10px;width:150px;float:left;text-align:center;padding:20px;background-color:red").
            Discover Services for Selected
        #test1_5(onclick="discoverCharacteristics()",style="margin:0 10px;width:150px;float:left;text-align:center;padding:20px;background-color:red").
            Discover Characterics for Selected

    #listContainer(class="clearfix")
        #deviceCont(style="margin:10px 0px;float:left")
            #deviceContTitle(style="padding:10px").
                Devices ids
            #devicesList(style="width:320px")
                #deviceListGroup(class="list-group")
                    //a(class="list-group-item active" data-value="dddd")
                        span(class="badge") connected
                        span testasdadadda dda dasdadasdaasdadadsa

        #serviceCont(style="margin:10px 10px;float:left")
            #serviceContTitle(style="padding:10px").
                Services ids
            #serviceList(style="width:320px")
                #serviceListGroup(class="list-group")
                    //a(class="list-group-item active" data-value="dddd")
                        span(class="badge") connected
                        span testasdadadda dda dasdadasdaasdadadsa

        #charactCont(style="margin:10px 0px;float:left")
            #charactContTitle(style="padding:10px").
                Characteristics ids
            #charactList(style="width:320px")
                #charactListGroup(class="list-group")
                    //a(class="list-group-item active" data-value="dddd")
                        span(class="badge") connected
                        span testasdadadda dda dasdadasdaasdadadsa

    #input
        input(id="txt" type="text" style="margin:20px;")
    #container2(style="border:1 px solid black;" class="clearfix")
        #test2(onclick="readCharacteristics()",style="width:150px;float:left;text-align:center;padding:20px;background-color:green").
            read
        #test2_1(onclick="writeCharacteristics()",style="margin:0 10px;width:150px;float:left;text-align:center;padding:20px;background-color:red").
            write
        #test2_2(onclick="addNotification()",style="width:150px;float:left;text-align:center;padding:20px;background-color:red").
            Add Notification

