doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

        style.
            .clearfix:after {
                visibility: hidden;
                display: block;
                font-size: 0;
                content: " ";
                clear: both;
                height: 0;
            }

            .clearfix {
                display: inline-block;
            }

            /* start commented backslash hack \*/
            * html .clearfix {
                height: 1%;
            }

            .clearfix {
                display: block;
            }


        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

        script(src="/socket.io/socket.io.js")
        script(src='/js/mainio.js')



    body
        block content